## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/origi/Documents/Data Bootcamp/Challenge 6/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,47.80,73,99,21.81,Overcast clouds
1,1,Puerto Ayora,EC,-0.7393,-90.3518,71.55,92,13,5.01,Few clouds
2,2,Ramshir,IR,30.8946,49.4092,85.86,14,0,10.63,Clear sky
3,3,Sao Filipe,CV,14.8961,-24.4956,72.45,87,74,7.31,Broken clouds
4,4,Jamestown,US,42.0970,-79.2353,78.71,89,71,4.59,Broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp_user = float(input("What is the minimum temperature you would like for your trip? "))
max_temp_user = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [39]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp_user) & \
                                       (city_data_df["Max Temp"] >= min_temp_user)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Ramshir,IR,30.8946,49.4092,85.86,14,0,10.63,Clear sky
4,4,Jamestown,US,42.0970,-79.2353,78.71,89,71,4.59,Broken clouds
5,5,Bathsheba,BB,13.2167,-59.5167,83.01,83,40,20.71,Scattered clouds
6,6,Wilmington,US,34.2257,-77.9447,78.85,67,0,5.75,Clear sky
10,10,Butaritari,KI,3.0707,172.7902,82.31,72,25,12.08,Scattered clouds
11,11,Tessalit,ML,20.1986,1.0114,84.69,36,88,15.59,Overcast clouds
15,15,Yerbogachen,RU,61.2767,108.0108,75.25,43,15,4.09,Few clouds
18,18,Palembang,ID,-2.9167,104.7458,82.49,78,20,9.22,Few clouds
20,20,Faanui,PF,-16.4833,-151.7500,80.71,71,10,16.60,Clear sky
22,22,Sandakan,MY,5.8402,118.1179,87.48,74,40,5.99,Scattered clouds

In [26]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#Doesn't seem like there are any empty rows

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
#Using preferred_cities_df because I couldn't find any empty rows and this is geared towards users wants

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ramshir,IR,85.86,Clear sky,30.8946,49.4092,
4,Jamestown,US,78.71,Broken clouds,42.0970,-79.2353,
5,Bathsheba,BB,83.01,Scattered clouds,13.2167,-59.5167,
6,Wilmington,US,78.85,Clear sky,34.2257,-77.9447,
10,Butaritari,KI,82.31,Scattered clouds,3.0707,172.7902,
11,Tessalit,ML,84.69,Overcast clouds,20.1986,1.0114,
15,Yerbogachen,RU,75.25,Few clouds,61.2767,108.0108,
18,Palembang,ID,82.49,Few clouds,-2.9167,104.7458,
20,Faanui,PF,80.71,Clear sky,-16.4833,-151.7500,
22,Sandakan,MY,87.48,Scattered clouds,5.8402,118.1179,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, ConnectionResetError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.copy()
clean_hotel_df = clean_hotel_df.replace(r'^s*$', float('NaN'), regex = True) 
# Notes: r'^$'is a regular expression (regex) that checks for an empty line (no hotel name)
# The carrot (^) = starts with
# The dollar sign ($) = ends with
# regex = True ensures that conditions specified are met
clean_hotel_df.dropna(inplace = True) #Drops the null values (in python, they are called 'NaN')
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ramshir,IR,85.86,Clear sky,30.8946,49.4092,معصومه مهدیان
4,Jamestown,US,78.71,Broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,Bathsheba,BB,83.01,Scattered clouds,13.2167,-59.5167,Atlantis Hotel
6,Wilmington,US,78.85,Clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
10,Butaritari,KI,82.31,Scattered clouds,3.0707,172.7902,Isles Sunset Lodge
18,Palembang,ID,82.49,Few clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
20,Faanui,PF,80.71,Clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
22,Sandakan,MY,87.48,Scattered clouds,5.8402,118.1179,Hotel Sandakan
28,Cabo San Lucas,MX,87.62,Scattered clouds,22.8909,-109.9124,Vista Roof Restaurant
32,Charleston,US,81.01,Clear sky,32.7766,-79.9309,The Mills House Wyndham Grand Hotel

In [50]:
# 7.5. Checking that the hotel_df looks good
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ramshir,IR,85.86,Clear sky,30.8946,49.4092,معصومه مهدیان
4,Jamestown,US,78.71,Broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,Bathsheba,BB,83.01,Scattered clouds,13.2167,-59.5167,Atlantis Hotel
6,Wilmington,US,78.85,Clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
10,Butaritari,KI,82.31,Scattered clouds,3.0707,172.7902,Isles Sunset Lodge
18,Palembang,ID,82.49,Few clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
20,Faanui,PF,80.71,Clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
22,Sandakan,MY,87.48,Scattered clouds,5.8402,118.1179,Hotel Sandakan
28,Cabo San Lucas,MX,87.62,Scattered clouds,22.8909,-109.9124,Vista Roof Restaurant
32,Charleston,US,81.01,Clear sky,32.7766,-79.9309,The Mills House Wyndham Grand Hotel

In [51]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/origi/Documents/Data Bootcamp/Challenge 6/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [52]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map. 
max_temp_hotel = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp_hotel, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))